/* Default CSS values for the ePub*/


/* Attribut */

span.text-italic {
    font-style: italic;
}

span.text-bold {
    font-weight: bold;
}

span.text-underline {
    text-decoration: underline;
}

span.text-sup {
    vertical-align: 4px;
    font-size: 83%;
}

span.text-sub {
    vertical-align: -4px;
    font-size: 83%;
}

span.text-pcap {
	color:#ff0000;
}

body {
    font-family: sans-serif;
    font-size: 100%;
}

p.text-standard {
    text-align: justify;
    margin: 0px;
    text-indent: 0.5cm;
}

a.link,
a.link-intern,
a.link-extern {
    color: #0000ff;
    text-decoration: underline;
}

p.text-sep {
    margin-top: 12pt;
    margin-bottom: 6pt;
    text-align: center;
}


/* Feuille de styles paragraphes */


/* Heading */

h1.part {
    color: #950000;
    margin: 160pt 0px 0px 0px;
    text-align: center;
    font-size: 130%;
    line-height: 130%;
}

h1.titre-1 {
    color: #950000;
    font-weight: normal;
    margin-top: 75pt;
    margin-bottom: 30pt;
    font-size: 117%;
    line-height: 130%;
}

h2 {
    color: #950000;
    font-size: 100%;
    margin: 18px 0px 6px 0px;
    font-weight: normal;
}

h3 {
    color: #950000;
    font-size: 100%;
    font-weight: normal;
}

h4 {
    color: #950000;
    font-size: 100%;
    font-weight: normal;
}

h5 {
    color: #950000;
    font-size: 100%;
    font-weight: normal;
}


/* Citation */

div.quote {
    margin: 12pt 0px 6pt 1.5cm;
}

.quote > p,
.quote > .quote-text > li {
    text-align: justify;
    font-size: 83%;
}

ul.quote-text {
    list-style-type: none;
    padding-left:0;
}


/* Note */

p.text-note {
    color: rgb(89, 89, 89);
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.6834648px;
    margin-bottom: 0;
    border: none;
    padding: 0;
    text-indent: 0;
    text-align: justify;
    font-size: 83%;
}

span.text-note,
a.note-foot {
	font-size:83%;
	color:#c9c9c9;
}

a.note-appel {
    vertical-align: 4px;
    font-size: 83%;
}

a.note-foot {
    font-size: 83%;
    vertical-align: 4px;
}

a.note-corps {
    font-size: 83%;
    vertical-align: 4px;
}

hr.note-fillet {
    margin-top: 20px;
    margin-bottom: 8px;
    height: 1.0px;
    width: 25%;
    color: #000000;
    background-color: #000000;
    margin-left: 0;
    margin-right: auto;
}


/* Text alignement */

p.text-center {
    text-align: center;
}

p.text-right {
    text-align: right;
}

p.text-justify {
    text-align: justify;
}


/* Param */

p.no-epub,
span.date-when {
    display: none;
}


/* Page-start-break */

.page-start-break {
    color: grey;
    font-size: 0.7em;
    text-align: right;
    font-style: normal;
    font-weight: normal;
    vertical-align: middle;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.page-start-break {
    color: grey;
    font-size: 0.7em;
    text-align: right;
    font-style: normal;
    font-weight: normal;
    vertical-align: middle;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.page-start-break {
    margin-left: 0em;
    margin-right: 0em;
}

.page-start-break:before {
    content: "{p. ";
}

.page-start-break:after {
    content: "}";
}


/* Argrument */

.argument-text {
    text-align: justify;
}


/* Image */

div.bloc-image {
    width: 100%;
    margin: 12pt 0px 6pt;
}

img.image {
    width: 100%;
}


/* Temoin */

p.temoin,
span.temoin {
    /*display: none;*/
}

span.curent-title {
    display: none;
}


/* Toc */

ul.toc > li.toc {
    list-style-type: none;
}


/* Table */

table.table {
    width: 100%;
    border-collapse: collapse;
    margin: 12pt 0px 6pt 0px;
}

table.table-border,
table.table-border > tr.table,
table.table-border > tr.table > td.table {
    border: 1px solid black;
}

.row {
	margin:0;
	padding:0;
}

.cell {
	margin:0;
	padding:1px;
	vertical-align:top;
}

td.cell-center,
td.cell-center > p {
	text-align:center;
}

td.cell-right,
td.cell-right > p {
	text-align:right;
}

.table-text {
	text-align:justify;
	margin-top:0;
	margin-bottom:0;
}

span.note {
    color: #898989;
    font-size: 83%;
}

p.text-list {
    text-align: justify;
}

li {
    list-style-type: none;
    text-align: justify;
}

ul > li > p {
    text-align: justify;
}


/* Citation */

p.text-exergue {
    margin-left: 1.5cm;
    margin-top: 12pt;
    margin-bottom: 0px;
    text-align: justify;
}

p.text-auteur-exergue {
    margin-top: 6px;
    margin-bottom: 6pt;
    text-align: right;
}

p.text-bible {
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent: 0px;
}

.closer {
	/* Unknown */
}

.salute {
	/* Unknown */
}

.postscript {
	/* Unknown */
}
.postscript-text {
	text-align:justify;
}

.label {
	text-align:justify;
}

.label-above {
/* Unknown */
}

.label-center {
	text-align:center;
}

.dateline {
	/* Unknown */
}

.byline {
	/* Unknown */
}